
vs/opengl_sample/.vs/
vs/opengl_sample/Debug/
vs/opengl_sample/x64/
vs/opengl_sample/opengl_sample/Debug/
vs/opengl_sample/opengl_sample/x64/
vs/opengl_sample/opengl_sample/opencv_world460d.dll
vs/opengl_sample/opengl_sample/opencv_world460d.pdb
